<html>
<head>
    <title>Sneaker Collection</title>
</head>
<body>
<h1>Sneaker Collection</h1>
<p>Conheca os Tenis que Marcaram na Historia</p>
<ul>
    <li><a href="/ternis"> Lista de Tenis fixa</a></li>
    <li><a href="/tenis2">Lista de Tenis dinâmica (com banco de dados)</a></li>
    <li><a href="/tenis2/aleatorio">Exibir um Tenis aleatoriamente</a></li>
</ul>
<p>Manipulação dos dados de paises</p>
<ul>
    <li><a href="/criar-tenis">Criar os Tenis no banco de dados</a></li>
    <li><a href="/deletar-tenis">Deletar todos os Tenis</a></li>
</ul>
</body>
</html>