<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Tenis na Historia</title>
</head>
<body class="bg-base-200 p-8">
<h1 class="text-5xl mb-4">Tenis que Marcaram na Historia</h1>
<div class="mt-2 mb-2">
    <span><a href="/">Início</a></span>
</div>
<div th:if="${tenis.isEmpty}" class="flex flex-col items-center justify-center width-full">
    <img src="https://upload.wikimedia.org/wikipedia/commons/4/4d/BlankMap-World.svg" alt="Empty" width="400">
    <p class="mt-4 text-2xl">Não há tenis cadastrados</p>
</div>
<div th:unless="${tenis.isEmpty}" class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Marca</td>
            <td>Modelo</td>
            <td>Ano de Lacamento</td>
            <td>Foto do Tenis</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${tenis}" class="hover:bg-base-300">
            <td th:text="${p.id}">{p.id}</td>
            <td><img th:src="${p.tenisdUrl}" width="80" alt="Foto do Tenis"></td>
            <td th:text="${p.nome}">{p.nome}</td>
            <td th:text="${p.modelo}">{p.modelo}</td>
            <td th:text="${p.ano_lancamento}">{p.ano_lancamento}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>